parameters:
	ignoreErrors:
		-
			message: '#^Method YiiPress\\Build\\BuildDiagnostics\:\:stripCodeBlocks\(\) should return string but returns string\|null\.$#'
			identifier: return.type
			count: 1
			path: src/Build/BuildDiagnostics.php

		-
			message: '#^Property YiiPress\\Build\\BuildManifest\:\:\$configFiles \(list\<string\>\) does not accept list\<mixed\>\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/Build/BuildManifest.php

		-
			message: '#^Property YiiPress\\Build\\BuildManifest\:\:\$entries \(array\<string, array\{hash\: string, outputs\: list\<string\>, mtime\?\: int, size\?\: int\}\>\) does not accept array\<mixed, mixed\>\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/Build/BuildManifest.php

		-
			message: '#^Property YiiPress\\Build\\BuildManifest\:\:\$entries \(array\<string, array\{hash\: string, outputs\: list\<string\>, mtime\?\: int, size\?\: int\}\>\) does not accept array\<mixed\>\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/Build/BuildManifest.php

		-
			message: '#^Property YiiPress\\Build\\BuildManifest\:\:\$trackedDirectories \(array\<string, int\>\) does not accept array\<mixed\>\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/Build/BuildManifest.php

		-
			message: '#^Parameter \#4 \$years of method YiiPress\\Build\\DateArchiveWriter\:\:writeArchiveIndexPage\(\) expects list\<string\>, non\-empty\-list\<int\|numeric\-string\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Build/DateArchiveWriter.php

		-
			message: '#^Anonymous function should return string but returns string\|false\.$#'
			identifier: return.type
			count: 1
			path: src/Build/EntryRenderer.php

		-
			message: '#^Parameter \#1 \$html of method YiiPress\\Build\\TemplateContext\:\:rewriteHtml\(\) expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Build/EntryRenderer.php

		-
			message: '#^Parameter \#2 \$matches of static method YiiPress\\Build\\OutputMinifier\:\:splitProtectedParts\(\) expects array\<list\<array\{string, int\}\>\>, array\{0\: non\-empty\-list\<array\{string, int\<\-1, max\>\}\>, tag\: non\-empty\-list\<array\{non\-falsy\-string, int\<\-1, max\>\}\>, 1\: non\-empty\-list\<array\{non\-falsy\-string, int\<\-1, max\>\}\>\} given\.$#'
			identifier: argument.type
			count: 1
			path: src/Build/OutputMinifier.php

		-
			message: '#^Parameter \#1 \$html of method YiiPress\\Build\\TemplateContext\:\:rewriteHtml\(\) expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Build/PageTemplateRenderer.php

		-
			message: '#^Binary operation "\." between non\-falsy\-string and mixed results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: src/Build/PortableWorkerPool.php

		-
			message: '#^Cannot access offset 0 on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Build/PortableWorkerPool.php

		-
			message: '#^Method YiiPress\\Build\\PortableWorkerPool\:\:executableCommand\(\) should return list\<string\> but returns array\{mixed\}\.$#'
			identifier: return.type
			count: 1
			path: src/Build/PortableWorkerPool.php

		-
			message: '#^Method YiiPress\\Build\\PortableWorkerPool\:\:executableCommand\(\) should return list\<string\> but returns array\{non\-falsy\-string, mixed\}\.$#'
			identifier: return.type
			count: 1
			path: src/Build/PortableWorkerPool.php

		-
			message: '#^Parameter \#1 \$haystack of function str_starts_with expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Build/PortableWorkerPool.php

		-
			message: '#^Parameter \#1 \$path of function basename expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Build/PortableWorkerPool.php

		-
			message: '#^Parameter \#1 \$string of function strtolower expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Build/PortableWorkerPool.php

		-
			message: '#^Parameter \#2 \$subject of function preg_match expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Build/PortableWorkerPool.php

		-
			message: '#^Anonymous function should return string but returns string\|false\.$#'
			identifier: return.type
			count: 1
			path: src/Build/TemplateContext.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 1
			path: src/Build/TemplateContext.php

		-
			message: '#^Method YiiPress\\Build\\TemplateContext\:\:partial\(\) should return string but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: src/Build/TemplateContext.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 3
			path: src/Build/TemplateHelpers.php

		-
			message: '#^Parameter \#2 \$params of method YiiPress\\I18n\\UiText\:\:get\(\) expects array\<string, float\|int\|string\>, array given\.$#'
			identifier: argument.type
			count: 1
			path: src/Build/TemplateHelpers.php

		-
			message: '#^Parameter \#2 \$status of static method YiiPress\\Build\\WorkerProcessStatus\:\:assertSucceeded\(\) expects int, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Build/WorkerProcessStatus.php

		-
			message: '#^Argument of an invalid type mixed supplied for foreach, only iterables are supported\.$#'
			identifier: foreach.nonIterable
			count: 1
			path: src/Console/ImportCommand.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 2
			path: src/Console/ImportCommand.php

		-
			message: '#^Binary operation "\." between non\-falsy\-string and mixed results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: src/Console/ServeCommand.php

		-
			message: '#^Cannot access offset 0 on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Console/ServeCommand.php

		-
			message: '#^Cannot cast mixed to int\.$#'
			identifier: cast.int
			count: 1
			path: src/Console/ServeCommand.php

		-
			message: '#^Method YiiPress\\Console\\ServeCommand\:\:runWorkerPool\(\) should return int but returns int\|false\.$#'
			identifier: return.type
			count: 1
			path: src/Console/ServeCommand.php

		-
			message: '#^Parameter \#1 \$haystack of function str_starts_with expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Console/ServeCommand.php

		-
			message: '#^Parameter \#1 \$status of function pcntl_wexitstatus expects int, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Console/ServeCommand.php

		-
			message: '#^Parameter \#1 \$status of function pcntl_wifexited expects int, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Console/ServeCommand.php

		-
			message: '#^Parameter \#1 \$status of function pcntl_wifsignaled expects int, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Console/ServeCommand.php

		-
			message: '#^Parameter \$yiiBinary of class YiiPress\\Web\\LiveReload\\SiteBuildRunner constructor expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Console/ServeCommand.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 2
			path: src/Console/WorkerCommand.php

		-
			message: '#^Parameter \#2 \$length of function fread expects int\<1, max\>, int\<min, \-1\>\|int\<1, max\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Content/Model/Author.php

		-
			message: '#^Parameter \#2 \$length of function fread expects int\<1, max\>, int\<min, \-1\>\|int\<1, max\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Content/Model/Entry.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 4
			path: src/Content/Parser/AuthorParser.php

		-
			message: '#^Cannot cast mixed to int\.$#'
			identifier: cast.int
			count: 2
			path: src/Content/Parser/CollectionConfigParser.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 5
			path: src/Content/Parser/CollectionConfigParser.php

		-
			message: '#^Parameter \#1 \$callback of function array_map expects \(callable\(mixed\)\: mixed\)\|null, Closure\(bool\|float\|GMP\|int\|resource\|string\|null\)\: string given\.$#'
			identifier: argument.type
			count: 1
			path: src/Content/Parser/CollectionConfigParser.php

		-
			message: '#^Parameter \#1 \$frontMatterParser of class YiiPress\\Content\\Parser\\AuthorParser constructor expects YiiPress\\Content\\Parser\\FrontMatterParser, YiiPress\\Content\\Parser\\FrontMatterParser\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/Content/Parser/ContentParser.php

		-
			message: '#^Parameter \#1 \$frontMatterParser of class YiiPress\\Content\\Parser\\EntryParser constructor expects YiiPress\\Content\\Parser\\FrontMatterParser, YiiPress\\Content\\Parser\\FrontMatterParser\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/Content/Parser/ContentParser.php

		-
			message: '#^Parameter \#2 \$filenameParser of class YiiPress\\Content\\Parser\\EntryParser constructor expects YiiPress\\Content\\Parser\\FilenameParser, YiiPress\\Content\\Parser\\FilenameParser\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/Content/Parser/ContentParser.php

		-
			message: '#^Cannot cast mixed to int\.$#'
			identifier: cast.int
			count: 1
			path: src/Content/Parser/EntryParser.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 11
			path: src/Content/Parser/EntryParser.php

		-
			message: '#^Parameter \#1 \$callback of function array_map expects \(callable\(mixed\)\: mixed\)\|null, Closure\(bool\|float\|GMP\|int\|resource\|string\|null\)\: string given\.$#'
			identifier: argument.type
			count: 4
			path: src/Content/Parser/EntryParser.php

		-
			message: '#^Parameter \$extra of class YiiPress\\Content\\Model\\Entry constructor expects array\<string, mixed\>, array\<mixed\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Content/Parser/EntryParser.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 1
			path: src/Content/Parser/FrontMatterParser.php

		-
			message: '#^Method YiiPress\\Content\\Parser\\FrontMatterParser\:\:extract\(\) should return array\{frontMatter\: array\<string, mixed\>, bodyOffset\: int, bodyLength\: int\} but returns array\{frontMatter\: array\<mixed\>, bodyOffset\: int, bodyLength\: int\}\.$#'
			identifier: return.type
			count: 1
			path: src/Content/Parser/FrontMatterParser.php

		-
			message: '#^Parameter \#2 \$result of method YiiPress\\Content\\Parser\\FrontMatterParser\:\:inferTitle\(\) expects array\{frontMatter\: array\<string, mixed\>, bodyOffset\: int, bodyLength\: int\}, array\{frontMatter\: array\<mixed\>, bodyOffset\: int, bodyLength\: int\} given\.$#'
			identifier: argument.type
			count: 1
			path: src/Content/Parser/FrontMatterParser.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 2
			path: src/Content/Parser/NavigationParser.php

		-
			message: '#^Argument of an invalid type mixed supplied for foreach, only iterables are supported\.$#'
			identifier: foreach.nonIterable
			count: 1
			path: src/Content/Parser/SiteConfigParser.php

		-
			message: '#^Cannot cast mixed to int\.$#'
			identifier: cast.int
			count: 6
			path: src/Content/Parser/SiteConfigParser.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 12
			path: src/Content/Parser/SiteConfigParser.php

		-
			message: '#^Parameter \#1 \$callback of function array_map expects \(callable\(mixed\)\: mixed\)\|null, Closure\(bool\|float\|GMP\|int\|resource\|string\|null\)\: string given\.$#'
			identifier: argument.type
			count: 3
			path: src/Content/Parser/SiteConfigParser.php

		-
			message: '#^Parameter \$params of class YiiPress\\Content\\Model\\SiteConfig constructor expects array\<string, mixed\>, array\<mixed\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Content/Parser/SiteConfigParser.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 1
			path: src/Environment.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 1
			path: src/I18n/UiText.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 3
			path: src/Import/Hugo/HugoContentImporter.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 3
			path: src/Import/Jekyll/JekyllContentImporter.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 3
			path: src/Import/Medium/MediumContentImporter.php

		-
			message: '#^Cannot cast mixed to int\.$#'
			identifier: cast.int
			count: 1
			path: src/Import/Telegram/Channel.php

		-
			message: '#^Method YiiPress\\Import\\Telegram\\Channel\:\:getTitle\(\) should return string but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: src/Import/Telegram/Channel.php

		-
			message: '#^Parameter \#2 \.\.\.\$values of function sprintf expects bool\|float\|int\|string\|null, mixed given\.$#'
			identifier: argument.type
			count: 2
			path: src/Import/Telegram/Channel.php

		-
			message: '#^Binary operation "\." between "\\n```" and mixed results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: src/Import/Telegram/Message.php

		-
			message: '#^Binary operation "\." between ''\]\('' and mixed results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: src/Import/Telegram/Message.php

		-
			message: '#^Binary operation "\.\=" between string and mixed results in an error\.$#'
			identifier: assignOp.invalid
			count: 2
			path: src/Import/Telegram/Message.php

		-
			message: '#^Cannot access offset ''href'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Import/Telegram/Message.php

		-
			message: '#^Cannot access offset ''language'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Import/Telegram/Message.php

		-
			message: '#^Cannot access offset ''length'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Import/Telegram/Message.php

		-
			message: '#^Cannot access offset ''offset'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Import/Telegram/Message.php

		-
			message: '#^Cannot access offset ''text'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Import/Telegram/Message.php

		-
			message: '#^Cannot access offset ''type'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: src/Import/Telegram/Message.php

		-
			message: '#^Cannot call method getTitle\(\) on YiiPress\\Import\\Telegram\\Channel\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: src/Import/Telegram/Message.php

		-
			message: '#^Cannot cast mixed to int\.$#'
			identifier: cast.int
			count: 4
			path: src/Import/Telegram/Message.php

		-
			message: '#^Get hook for property YiiPress\\Import\\Telegram\\Message\:\:\$file should return string\|null but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: src/Import/Telegram/Message.php

		-
			message: '#^Get hook for property YiiPress\\Import\\Telegram\\Message\:\:\$forwardedFrom should return string\|null but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: src/Import/Telegram/Message.php

		-
			message: '#^Get hook for property YiiPress\\Import\\Telegram\\Message\:\:\$id should return int but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: src/Import/Telegram/Message.php

		-
			message: '#^Get hook for property YiiPress\\Import\\Telegram\\Message\:\:\$photo should return string\|null but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: src/Import/Telegram/Message.php

		-
			message: '#^Parameter \#1 \$mention of method YiiPress\\Import\\Telegram\\Message\:\:mentionToLink\(\) expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Import/Telegram/Message.php

		-
			message: '#^Parameter \#1 \$string of function trim expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Import/Telegram/Message.php

		-
			message: '#^Parameter \#1 \$text of method YiiPress\\Import\\Telegram\\Message\:\:blockQuoteToMarkdown\(\) expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Import/Telegram/Message.php

		-
			message: '#^Parameter \#1 \$text of method YiiPress\\Import\\Telegram\\Message\:\:convertToMarkdown\(\) expects list\<array\>\|string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Import/Telegram/Message.php

		-
			message: '#^Parameter \#1 \$textArray of method YiiPress\\Import\\Telegram\\Message\:\:convertTextArrayToMarkdown\(\) expects list\<array\<string, mixed\>\|string\>, list\<array\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Import/Telegram/Message.php

		-
			message: '#^Parameter \#1 \$textArray of method YiiPress\\Import\\Telegram\\Message\:\:extractHashtagsFromTextArray\(\) expects list\<mixed\>, array\<mixed, mixed\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Import/Telegram/Message.php

		-
			message: '#^Parameter \#1 \$textEntities of method YiiPress\\Import\\Telegram\\Message\:\:extractHashtagsFromTextEntities\(\) expects list\<mixed\>, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Import/Telegram/Message.php

		-
			message: '#^Parameter \#1 \$url of method YiiPress\\Import\\Telegram\\Message\:\:ensureUrl\(\) expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Import/Telegram/Message.php

		-
			message: '#^Parameter \#2 \$subject of function preg_match expects string, mixed given\.$#'
			identifier: argument.type
			count: 2
			path: src/Import/Telegram/Message.php

		-
			message: '#^Parameter \#2 \$textEntities of method YiiPress\\Import\\Telegram\\Message\:\:convertToMarkdown\(\) expects list\<array\>, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Import/Telegram/Message.php

		-
			message: '#^Part \$part\[''href''\] \(mixed\) of encapsed string cannot be cast to string\.$#'
			identifier: encapsedStringPart.nonString
			count: 1
			path: src/Import/Telegram/Message.php

		-
			message: '#^Part \$part\[''language''\] \(mixed\) of encapsed string cannot be cast to string\.$#'
			identifier: encapsedStringPart.nonString
			count: 1
			path: src/Import/Telegram/Message.php

		-
			message: '#^Part \$text \(mixed\) of encapsed string cannot be cast to string\.$#'
			identifier: encapsedStringPart.nonString
			count: 10
			path: src/Import/Telegram/Message.php

		-
			message: '#^Part \$this\-\>message\[''id''\] \(mixed\) of encapsed string cannot be cast to string\.$#'
			identifier: encapsedStringPart.nonString
			count: 1
			path: src/Import/Telegram/Message.php

		-
			message: '#^Cannot access offset ''file'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Import/Telegram/TelegramContentImporter.php

		-
			message: '#^Cannot access offset ''id'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 4
			path: src/Import/Telegram/TelegramContentImporter.php

		-
			message: '#^Cannot access offset ''photo'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Import/Telegram/TelegramContentImporter.php

		-
			message: '#^Cannot access offset ''poll'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Import/Telegram/TelegramContentImporter.php

		-
			message: '#^Cannot access offset ''text'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Import/Telegram/TelegramContentImporter.php

		-
			message: '#^Cannot access offset ''type'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: src/Import/Telegram/TelegramContentImporter.php

		-
			message: '#^Parameter \#1 \$json of function json_decode expects string, string\|false given\.$#'
			identifier: argument.type
			count: 1
			path: src/Import/Telegram/TelegramContentImporter.php

		-
			message: '#^Parameter \#1 \$message of class YiiPress\\Import\\Telegram\\Channel constructor expects array\<string, mixed\>, array given\.$#'
			identifier: argument.type
			count: 1
			path: src/Import/Telegram/TelegramContentImporter.php

		-
			message: '#^Parameter \#1 \$message of class YiiPress\\Import\\Telegram\\Message constructor expects array\<string, mixed\>, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Import/Telegram/TelegramContentImporter.php

		-
			message: '#^Parameter \#2 \$array of function array_key_exists expects array, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Import/Telegram/TelegramContentImporter.php

		-
			message: '#^Parameter \#3 \$from_encoding of function mb_convert_encoding expects array\|string\|null, string\|false given\.$#'
			identifier: argument.type
			count: 1
			path: src/Import/Telegram/TelegramContentImporter.php

		-
			message: '#^Parameter \$skippedFiles of class YiiPress\\Import\\ImportResult constructor expects list\<string\>, list\<mixed\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Import/Telegram/TelegramContentImporter.php

		-
			message: '#^Property YiiPress\\Processor\\OEmbed\\OEmbedProcessor\:\:\$providers \(list\<YiiPress\\Processor\\OEmbed\\OEmbedInterface\>\) does not accept array\<int\<0, max\>\|string, YiiPress\\Processor\\OEmbed\\OEmbedInterface\>\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/Processor/OEmbed/OEmbedProcessor.php

		-
			message: '#^Offset 2 might not exist on array\{0\: string, 1\: non\-empty\-string, 2\?\: string, 3\?\: string, 4\?\: non\-empty\-string\}\.$#'
			identifier: offsetAccess.notFound
			count: 1
			path: src/Processor/Question/QuestionProcessor.php

		-
			message: '#^Offset 3 might not exist on array\{0\: string, 1\: non\-empty\-string, 2\: '''', 3\?\: string, 4\?\: non\-empty\-string\}\.$#'
			identifier: offsetAccess.notFound
			count: 1
			path: src/Processor/Question/QuestionProcessor.php

		-
			message: '#^Offset 4 might not exist on array\{0\: string, 1\: non\-empty\-string, 2\: '''', 3\: '''', 4\?\: non\-empty\-string\}\.$#'
			identifier: offsetAccess.notFound
			count: 1
			path: src/Processor/Question/QuestionProcessor.php

		-
			message: '#^Offset 2 might not exist on array\{0\: string, 1\: non\-empty\-string, 2\?\: string, 3\?\: string, 4\?\: non\-empty\-string\}\.$#'
			identifier: offsetAccess.notFound
			count: 1
			path: src/Processor/Shortcode/CodeGroupProcessor.php

		-
			message: '#^Offset 3 might not exist on array\{0\: string, 1\: non\-empty\-string, 2\: '''', 3\?\: string, 4\?\: non\-empty\-string\}\.$#'
			identifier: offsetAccess.notFound
			count: 1
			path: src/Processor/Shortcode/CodeGroupProcessor.php

		-
			message: '#^Offset 4 might not exist on array\{0\: string, 1\: non\-empty\-string, 2\: '''', 3\: '''', 4\?\: non\-empty\-string\}\.$#'
			identifier: offsetAccess.notFound
			count: 1
			path: src/Processor/Shortcode/CodeGroupProcessor.php

		-
			message: '#^Offset 2 might not exist on array\{0\: string, 1\: non\-empty\-string, 2\?\: string, 3\?\: string, 4\?\: non\-empty\-string\}\.$#'
			identifier: offsetAccess.notFound
			count: 1
			path: src/Processor/Shortcode/TweetProcessor.php

		-
			message: '#^Offset 3 might not exist on array\{0\: string, 1\: non\-empty\-string, 2\: '''', 3\?\: string, 4\?\: non\-empty\-string\}\.$#'
			identifier: offsetAccess.notFound
			count: 1
			path: src/Processor/Shortcode/TweetProcessor.php

		-
			message: '#^Offset 4 might not exist on array\{0\: string, 1\: non\-empty\-string, 2\: '''', 3\: '''', 4\?\: non\-empty\-string\}\.$#'
			identifier: offsetAccess.notFound
			count: 1
			path: src/Processor/Shortcode/TweetProcessor.php

		-
			message: '#^Offset 2 might not exist on array\{0\: string, 1\: non\-empty\-string, 2\?\: string, 3\?\: string, 4\?\: non\-empty\-string\}\.$#'
			identifier: offsetAccess.notFound
			count: 1
			path: src/Processor/Shortcode/VimeoProcessor.php

		-
			message: '#^Offset 3 might not exist on array\{0\: string, 1\: non\-empty\-string, 2\: '''', 3\?\: string, 4\?\: non\-empty\-string\}\.$#'
			identifier: offsetAccess.notFound
			count: 1
			path: src/Processor/Shortcode/VimeoProcessor.php

		-
			message: '#^Offset 4 might not exist on array\{0\: string, 1\: non\-empty\-string, 2\: '''', 3\: '''', 4\?\: non\-empty\-string\}\.$#'
			identifier: offsetAccess.notFound
			count: 1
			path: src/Processor/Shortcode/VimeoProcessor.php

		-
			message: '#^Offset 2 might not exist on array\{0\: string, 1\: non\-empty\-string, 2\?\: string, 3\?\: string, 4\?\: non\-empty\-string\}\.$#'
			identifier: offsetAccess.notFound
			count: 1
			path: src/Processor/Shortcode/YouTubeProcessor.php

		-
			message: '#^Offset 3 might not exist on array\{0\: string, 1\: non\-empty\-string, 2\: '''', 3\?\: string, 4\?\: non\-empty\-string\}\.$#'
			identifier: offsetAccess.notFound
			count: 1
			path: src/Processor/Shortcode/YouTubeProcessor.php

		-
			message: '#^Offset 4 might not exist on array\{0\: string, 1\: non\-empty\-string, 2\: '''', 3\: '''', 4\?\: non\-empty\-string\}\.$#'
			identifier: offsetAccess.notFound
			count: 1
			path: src/Processor/Shortcode/YouTubeProcessor.php

		-
			message: '#^Parameter \#1 \$params of method YiiPress\\Processor\\Shortcode\\YouTubeProcessor\:\:extractStart\(\) expects array\<string, mixed\>, array\<int\|string, array\<mixed\>\|string\> given\.$#'
			identifier: argument.type
			count: 3
			path: src/Processor/Shortcode/YouTubeProcessor.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 1
			path: src/Update/PackageLocator.php
