name: Build and Deploy Documentation

on:
  push:
    branches:
      - master
    paths:
      - 'docs/**'
      - '.github/workflows/build-docs.yml'
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/yiipress/engine:latest
      options: --user root
      volumes:
        - ./docs:/app/docs
        - _site:/app/docs-output
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Build documentation
        run: ./yii build --content-dir=docs --output-dir=docs-output --no-cache

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4

  deploy:
    if: ${{ github.event_name == 'push' || github.event_name == 'workflow_dispatch' }}
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
